body {
  color: #6c6c6c;
  background: #ffffff;
}
a {
  color: #424242;
}
a:hover {
  color: #2a83e8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #424242;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #2a83e8 !important;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #2a83e8;
}
.sp-megamenu-parent >li > a,
.sp-megamenu-parent >li > span {
  color: #424242;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #2a83e8;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > span {
  color: #868686;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #171717;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner > .row > div[class*="col-"]:after {
  background: #363636;
}
.sp-megamenu-parent .sp-dropdown.sp-menu-full:before,
.sp-megamenu-parent .sp-dropdown.sp-menu-full:after {
  background: #171717;
}
#offcanvas-toggler >i {
  color: #424242;
}
#offcanvas-toggler >i:hover {
  color: #2a83e8;
}
.offcanvas-menu.offcanvas-desktop {
  color: #424242;
}
.offcanvas-menu.offcanvas-desktop .close-offcanvas {
  color: #424242;
  border-color: #424242;
}
.offcanvas-menu.offcanvas-desktop .offcanvas-inner .sp-module ul > li a {
  color: #424242;
}
.offcanvas-menu.offcanvas-desktop .offcanvas-inner .sp-module ul > li:hover > a,
.offcanvas-menu.offcanvas-desktop .offcanvas-inner .sp-module ul > li:hover span,
.offcanvas-menu.offcanvas-desktop .offcanvas-inner .sp-module ul > li:focus > a,
.offcanvas-menu.offcanvas-desktop .offcanvas-inner .sp-module ul > li:focus span {
  color: #2a83e8;
}
.offcanvas-menu.offcanvas-desktop .offcanvas-inner .sp-module ul > li ul > li.active a,
.offcanvas-menu.offcanvas-desktop .offcanvas-inner .sp-module ul > li ul > li.active span {
  color: #2a83e8;
}
body .btn-primary,
body .sppb-btn-primary {
  border-color: #2a83e8;
  background-color: #2a83e8;
}
body .btn-primary:hover,
body .sppb-btn-primary:hover {
  border-color: #1771d7;
  background-color: #1771d7;
}
body .btn-primary.sppb-btn-outline,
body .sppb-btn-primary.sppb-btn-outline {
  border-color: #2a83e8;
  background: transparent;
  color: #2a83e8;
}
body .btn-primary.sppb-btn-outline:hover,
body .btn-primary.sppb-btn-outline:focus,
body .sppb-btn-primary.sppb-btn-outline:hover,
body .sppb-btn-primary.sppb-btn-outline:focus {
  border-color: #1771d7;
  color: #fff;
  background-color: #1771d7;
}
body .btn-primary.sppb-btn-outline-hover:hover,
body .btn-primary.sppb-btn-outline-hover:focus,
body .sppb-btn-primary.sppb-btn-outline-hover:hover,
body .sppb-btn-primary.sppb-btn-outline-hover:focus {
  border-color: ;
  color: #2a83e8;
}
.helix-social-share .helix-social-share-icon ul li div a {
  color: #6c6c6c;
}
.helix-social-share .helix-social-share-icon ul li div a:hover,
.helix-social-share .helix-social-share-icon ul li div a:focus {
  background: #2a83e8;
}
.sp-page-title {
  background: #2a83e8;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #6c6c6c;
}
.sp-module ul >li >a:hover {
  color: #2a83e8;
}
.sp-module .latestnews >div >a {
  color: #6c6c6c;
}
.sp-module .latestnews >div >a:hover {
  color: #2a83e8;
}
.sp-module .tagscloud .tag-name:hover {
  background: #2a83e8;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #2a83e8;
}
.search .btn-toolbar button {
  background: #2a83e8;
}
.post-format {
  background: #2a83e8;
}
.voting-symbol span.star.active:before {
  color: #2a83e8;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #166ac9;
}
.entry-link,
.entry-quote {
  background: #2a83e8;
}
.entry-header h2:hover a,
.entry-header h2:focus a {
  color: #2a83e8;
}
blockquote {
  border-color: #2a83e8;
}
blockquote footer {
  color: #2a83e8;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #2a83e8;
}
#sp-footer {
  color: #6c6c6c;
}
#sp-footer a {
  color: #6c6c6c;
}
.sp-comingsoon body {
  background-color: #2a83e8;
}
.scrollup:hover {
  bottom: 25px;
  background-color: #2a83e8;
}
.pagination-wrapper .pagination > li a:hover,
.pagination-wrapper .pagination > li a:focus {
  background: #2a83e8;
  border-color: #2a83e8;
}
.pagination-wrapper .pagination > li.active a {
  color: #2a83e8;
}
.pagination>li>a,
.pagination>li>span {
  color: #424242;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #424242;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #2a83e8;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #2a83e8;
  background-color: #2a83e8;
}
div.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-info:hover h3 > a,
div.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-info:focus h3 > a {
  color: #2a83e8;
}
#mod-sp-simpleportfolio.filter-lined .sp-simpleportfolio-filter ul > li.active {
  border-color: #2a83e8;
}
#mod-sp-simpleportfolio.filter-lined .sp-simpleportfolio-filter ul > li.active > a {
  color: #2a83e8;
}
.portfolio-multicolor.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:nth-child(5n-4) .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
  background: rgba(42,131,232,0.9);
}
.sp-portfolio-carousel-2 {
  overflow: hidden;
}
.sp-portfolio-carousel-2.sp-simpleportfolio .sp-simpleportfolio-item {
  padding: 0;
  float: none;
}
.sp-portfolio-carousel-2.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
  background: rgba(42,131,232,0.75);
}
.simple-menu.menu > li > a {
  color: #6c6c6c;
}
.simple-menu.menu > li > a:hover,
.simple-menu.menu > li > a:focus {
  color: #424242;
}
.blog-default .items-list .content-ct h4 a:hover,
.blog-default .items-list .content-ct h4 a:focus {
  color: #2a83e8;
}
div.tagspopular > ul > li > a {
  color: #6c6c6c;
}
div.tagspopular > ul > li > a:hover,
div.tagspopular > ul > li > a:focus {
  background: #2a83e8;
}
.title-bar .sppb-section-title .sppb-title-heading:after {
  border-color: #2a83e8;
}
.addon-title-bar .sppb-addon-title:after {
  border-color: #2a83e8;
}
.sppb-addon-alert .sppb-alert-primary {
  background: rgba(42,131,232,0.1);
  color: #2a83e8;
}
.sppb-progress {
  border-radius: 0;
}
.sppb-progress .sppb-progress-bar.sppb-progress-bar-primary {
  background-color: #2a83e8;
}
.sppb-addon-blockquote.blockquote-style-1 .sppb-addon-content .sppb-blockquote {
  border-left-color: #2a83e8;
}
.sppb-addon-blockquote.blockquote-style-1 .sppb-addon-content .sppb-blockquote footer {
  color: #2a83e8;
}
.sppb-addon-blockquote.blockquote-style-2 .sppb-addon-content .sppb-blockquote footer {
  color: #2a83e8;
}
.sppb-addon-dropcap.dropcap-style-1 .sppb-addon-content .sppb-dropcap .dropcap {
  background: #2a83e8;
}
.sppb-addon-dropcap.dropcap-style-2 .sppb-addon-content .sppb-dropcap .dropcap {
  color: #2a83e8;
}
.sppb-addon-accordion .sppb-panel-group .sppb-panel {
  border-top-width: 1px;
}
.sppb-addon-accordion .sppb-panel-group .sppb-panel.sppb-panel-primary {
  border-color: #2a83e8;
}
.sppb-addon-accordion .sppb-panel-group .sppb-panel.sppb-panel-primary .sppb-panel-heading {
  background: #2a83e8;
}
.sppb-addon-accordion .sppb-panel-group .sppb-panel.sppb-panel-primary .sppb-panel-body {
  border-top-color: #2a83e8;
}
.sppb-addon-tab .sppb-nav-tabs > li.active a {
  border-top-color: #2a83e8;
  color: #2a83e8;
}
.sppb-addon-tab .sppb-nav-lines > li.active a {
  border-bottom-color: #2a83e8;
  color: #2a83e8;
}
.sppb-addon-tab .sppb-nav-pills > li.active a {
  background-color: #2a83e8;
}
.tabs-style-1 .sppb-nav-lines > li > a:hover i,
.tabs-style-1 .sppb-nav-lines > li > a:focus i,
.tabs-style-1 .sppb-nav-lines > li.active >a i {
  color: #2a83e8;
}
.sppb-addon-textrotator .sppb-textrotator-content .cd-headline .cd-words-wrapper {
  color: #2a83e8;
}
.sppb-addon-textrotator .sppb-textrotator-content .cd-headline .cd-words-wrapper.selected b {
  color: #2a83e8 !important;
}
a[class*="btn-"].primary,
a[class*="btn-"].primary-hover:hover,
a[class*="btn-"].primary-hover:focus {
  background: #2a83e8;
  border-color: #2a83e8;
  color: #fff;
}
a[class*="btn-"].primary-outline,
a[class*="btn-"].primary-outline-hover:hover,
a[class*="btn-"].primary-hover:focus {
  background: transparent;
  border-color: #2a83e8;
  color: #2a83e8;
}
a[class*="btn-"].primary-border,
a[class*="btn-"].primary-border-hover:hover,
a[class*="btn-"].primary-hover:focus {
  border-color: #2a83e8;
}
a[class*="btn-"].primary-content,
a[class*="btn-"].primary-content-hover:hover,
a[class*="btn-"].primary-content-hover:focus {
  background: transparent;
  border-color: transparent;
  color: #2a83e8;
}
.feature-icon-primary .sppb-addon-content .sppb-icon .sppb-icon-container i {
  color: #2a83e8;
}
.feature-icon-1 .sppb-addon-content .sppb-icon .sppb-icon-container {
  background: #2a83e8;
}
div[class*="pricing-style-1"] .sppb-pricing-box:before,
div[class*="pricing-style-1"] .sppb-pricing-box.sppb-pricing-featured:before {
  background: #2a83e8;
}
.btn-primary-white,
.sppb-btn-primary-white {
  background: #2a83e8;
}
.btn-primary-white:hover,
.btn-primary-white:focus,
.sppb-btn-primary-white:hover,
.sppb-btn-primary-white:focus {
  color: #2a83e8;
}
.btn-primary-white.sppb-btn-outline,
.sppb-btn-primary-white.sppb-btn-outline {
  border-color: #2a83e8;
  color: #2a83e8;
}
.btn-primary-white.sppb-btn-outline:hover,
.btn-primary-white.sppb-btn-outline:focus,
.sppb-btn-primary-white.sppb-btn-outline:hover,
.sppb-btn-primary-white.sppb-btn-outline:focus {
  color: #2a83e8;
}
.btn-primary-white.sppb-btn-outline-hover,
.sppb-btn-primary-white.sppb-btn-outline-hover {
  background: #2a83e8;
}
.btn-primary-black,
.sppb-btn-primary-black {
  background: #2a83e8;
}
.btn-primary-black:hover,
.btn-primary-black:focus,
.sppb-btn-primary-black:hover,
.sppb-btn-primary-black:focus {
  color: #2a83e8;
}
.btn-primary-black.sppb-btn-outline,
.sppb-btn-primary-black.sppb-btn-outline {
  border-color: #2a83e8;
  color: #2a83e8;
}
.btn-primary-black.sppb-btn-outline:hover,
.btn-primary-black.sppb-btn-outline:focus,
.sppb-btn-primary-black.sppb-btn-outline:hover,
.sppb-btn-primary-black.sppb-btn-outline:focus {
  color: #2a83e8;
}
.btn-primary-black.sppb-btn-outline-hover,
.sppb-btn-primary-black.sppb-btn-outline-hover {
  background: #2a83e8;
}
.btn-white-primary:hover,
.btn-white-primary:focus,
.sppb-btn-white-primary:hover,
.sppb-btn-white-primary:focus {
  background: #2a83e8;
}
.btn-white-primary.sppb-btn-outline:hover,
.btn-white-primary.sppb-btn-outline:focus,
.sppb-btn-white-primary.sppb-btn-outline:hover,
.sppb-btn-white-primary.sppb-btn-outline:focus {
  background: #2a83e8;
}
.btn-white-primary.sppb-btn-outline-hover,
.sppb-btn-white-primary.sppb-btn-outline-hover {
  color: #2a83e8;
}
.btn-white-primary.sppb-btn-outline-hover:hover,
.btn-white-primary.sppb-btn-outline-hover:focus,
.sppb-btn-white-primary.sppb-btn-outline-hover:hover,
.sppb-btn-white-primary.sppb-btn-outline-hover:focus {
  border-color: #2a83e8;
  color: #2a83e8;
}
.btn-black-primary,
.sppb-btn-black-primary {
  color: #2a83e8;
}
.btn-black-primary:hover,
.btn-black-primary:focus,
.sppb-btn-black-primary:hover,
.sppb-btn-black-primary:focus {
  background: #2a83e8;
}
.btn-black-primary.sppb-btn-outline:hover,
.btn-black-primary.sppb-btn-outline:focus,
.sppb-btn-black-primary.sppb-btn-outline:hover,
.sppb-btn-black-primary.sppb-btn-outline:focus {
  background: #2a83e8;
}
.btn-black-primary.sppb-btn-outline-hover,
.sppb-btn-black-primary.sppb-btn-outline-hover {
  color: #2a83e8;
}
.btn-black-primary.sppb-btn-outline-hover:hover,
.btn-black-primary.sppb-btn-outline-hover:focus,
.sppb-btn-black-primary.sppb-btn-outline-hover:hover,
.sppb-btn-black-primary.sppb-btn-outline-hover:focus {
  border-color: #2a83e8;
  color: #2a83e8;
}
.bg-primary {
  background-color: #2a83e8;
}
.bg-white {
  color: #6c6c6c !important;
}
.bg-white a {
  color: #424242 !important;
}
.bg-white a:hover,
.bg-white a:focus {
  color: #2a83e8 !important;
}
.overlay-bg-primary-10:before {
  background: rgba(42,131,232,0.1);
}
.overlay-bg-primary-20:before {
  background: rgba(42,131,232,0.2);
}
.overlay-bg-primary-30:before {
  background: rgba(42,131,232,0.3);
}
.overlay-bg-primary-40:before {
  background: rgba(42,131,232,0.4);
}
.overlay-bg-primary-50:before {
  background: rgba(42,131,232,0.5);
}
.overlay-bg-primary-60:before {
  background: rgba(42,131,232,0.6);
}
.overlay-bg-primary-70:before {
  background: rgba(42,131,232,0.7);
}
.overlay-bg-primary-80:before {
  background: rgba(42,131,232,0.8);
}
.overlay-bg-primary-90:before {
  background: rgba(42,131,232,0.9);
}
.text-primary {
  color: #2a83e8;
}
.primary-color p,
.primary-color a,
.primary-color h1,
.primary-color h2,
.primary-color h3,
.primary-color h4,
.primary-color h5,
.primary-color h6,
.primary-color span,
.primary-color strong,
.primary-color div,
.primary-color i {
  color: #2a83e8;
}
.features-list ul li i {
  color: #2a83e8;
}
.proccess-section .sppb-row div[class*="sppb-col-"]:after {
  color: #2a83e8;
}
.owl-theme div.owl-dots .owl-dot span,
.owl-theme div.owl-dots .owl-dot:hover span,
.owl-theme div.owl-dots .owl-dot:focus span {
  border: 2px solid #6c6c6c;
}
.owl-theme div.owl-dots .owl-dot.active span,
.owl-theme div.owl-dots .owl-dot.active:hover span,
.owl-theme div.owl-dots .owl-dot.active:focus span {
  background: #2a83e8;
}
.badge {
  background-color: #2a83e8;
}
.chzn-container ul.chzn-results li.highlighted {
  background: #2a83e8;
}
div.product .vm-product-media-container .product-overlay div[class*="vm3pr-"] .addtocart-bar .addtocart-button button.btn:hover,
div.product .vm-product-media-container .product-overlay div[class*="vm3pr-"] .addtocart-bar .addtocart-button button.btn:focus {
  background: #2a83e8;
  border-color: #2a83e8;
}
div.product .vm-product-media-container .vm-details-button:hover,
div.product .vm-product-media-container .vm-details-button:focus {
  background-color: #2a83e8;
}
.vm-product-tabs .nav-tabs li.active a {
  border-bottom-color: #2a83e8;
  color: #2a83e8;
}
.vm-product-tabs .nav-tabs li.active a:hover,
.vm-product-tabs .nav-tabs li.active a:focus {
  border-color: #2a83e8;
}
.virtuemart_search input.button,
.vm-continue-shopping a,
#form-login .button,
form.inline input.button,
.cart-resume .product-counter .total_product {
  background-color: #2a83e8;
}
#com-form-login input[name="Submit"],
table.cart-summary tr th,
.cart-summary td input.details-button,
.buttonBar-right  button,
.vm-order-done a.vm-button-correct,
button.vm-button-correct,
.vm-orders-information .floatright a,
#userForm .control-buttons button:first-child {
  background: #2a83e8;
}
.vm-orders-information .floatright a,
.cart-summary td input.details-button,
.vm-continue-shopping a,
#form-login .button,
#com-form-login input[name="Submit"],
form.inline input.button,
.cart-view form#checkoutForm .billto-shipto a.details:hover,
.cart-view form#checkoutForm .billto-shipto a.details:focus,
.cart-summary td input.details-button,
.buttonBar-right  button,
button.vm-button-correct,
#userForm .user-details tr td input:focus,
.vm-order-done a.vm-button-correct,
.vm-orders-information .floatright a,
#userForm .control-buttons button:first-child {
  border-color: #2a83e8;
}
.vmicon:before,
.cart-view form#checkoutForm .billto-shipto a.details:hover,
.cart-view form#checkoutForm .billto-shipto a.details:focus,
.PricebillTotal,
.vm-order-done .post_payment_order_total {
  color: #2a83e8;
}
.cart-view form#checkoutForm .vm-fieldset-pricelist .cart-summary tr th {
  border-top-color: #2a83e8;
  border-left-color: #2a83e8;
}
.cart-view form#checkoutForm .vm-fieldset-pricelist .cart-summary tr th:nth-last-child(1) {
  border-right-color: #2a83e8;
}
.vmCartModule .dropdown-content .total strong {
  color: #2a83e8;
}
.vmCartModule .dropdown-content .show_cart a {
  background: #2a83e8;
}
.vmCartModule.cart-mini .cart-resume .total_product {
  background: #2a83e8;
}
