@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Inter", sans-serif;

  --color-primary: #d7393e;
  --color-primary-hover: #ec7942;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-card: #f7f7f0;
  --color-sage: #69857a;

  --color-price-bg: #d7393e;
  --color-badge-exclusive: #34495e;
  --color-badge-bestseller: #e67e22;
  --color-badge-special: #2ecc71;
}

body {
  font-family: var(--font-sans);
  font-size: 18px;
  color: var(--color-dark);
  background-color: var(--color-light);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}